.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin-bottom: 5px;
}

.wa-btn {
  display: inline-block;
  margin-top: 10px;
  background: #25d366;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
}