@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  font-family: "Roboto", cursive !important;
}

.home {
  height: 100vh;
  background-image: url("../assets/tapis-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.slideshow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: gold;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.top-nav {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-link:hover {
  text-decoration: underline;
}

.login-btn {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}